<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Gian Solo 2021. All Rights Reserved.</p>
    </div>
</footer>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></h1>
                    <p class="intro-text">Copyright &copy; Gian Solo 2021. All Rights Reserved.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
