<!-- Footer -->
<footer>
    <div class="container text-center">
        <p></p>
    </div>
</footer>

<header class="outro">
    <div class="outro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4>Copyright &copy; Gian Solo 2021. All Rights Reserved.</h4>
                    <p class="outro-text"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
